.footer{

    
    border-top: 1px solid #ccc;
    margin-top: 50px;
    grid-area: footer;
    display: flex;
    justify-content: center;

}

.footer-item{
    width: 50%;
  
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    

}