.hero-bg{
        

 /* blur edges fix */
  
   
     background-image: url('https://img.freepik.com/free-vector/abstract-horizontal-grid-lines-graph-style-graphic-design_1017-39918.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
       


    
}

p{
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    color: #555;
}

.typing {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}





.hero-container{
    display: flex;
    justify-content: center;
    height: 600px;
    
    margin: 20px;
    border-radius: 20px;
   
  background-position: center; 
   
}


@media screen and (max-width: 768px) {
    .hero-container{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
}


@media screen and (max-width: 768px) {
  .profile-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
  }
}
