/* .hero-bg{
        

 /* blur edges fix */
  
   
     /* background-image: url('https://img.freepik.com/free-vector/abstract-horizontal-grid-lines-graph-style-graphic-design_1017-39918.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; */
        
       


    
/* } */

p{
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    color: #000000;
}

.typing {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}





.hero-container{
    display: flex;
    justify-content: center;
    height: 600px;
    
    margin: 20px;
    border-radius: 20px;
   
  background-position: center; 
   
}


@media screen and (max-width: 768px) {
    .hero-container{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
}

.profile-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 50px;
  border: 2px solid #00f7ff;
  border-radius: 50%;
  overflow: hidden;

}

.profile-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
  .profile-img {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    display: block;
  }
}
