body
{
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
/* 
text copy select  off */

*{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* .navbar-title {
  font-weight: 700;
  letter-spacing: 1px;
} */

@media screen and (max-width: 768px) {
  .navbar-title {
   display: none;
   margin: 0;
   padding: 0;
  }
  
}


a {

  width: 100px;
  height: 20px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  font-size: medium;
  font-weight: 700;

  text-decoration: none;
  color: inherit;
transition: 200ms ease-in-out;
border: 1px solid #00f7ff;
  /* animation: App-logo-spin infinite 10s linear; */

}



a:hover {
 
    transform: scale(1.1);
 
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }

   from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
